/*
 * Reset
 */
audio[controls],
canvas,
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
html {
  overflow-x: hidden;
}
body {
  text-align: left;
  overflow: hidden;
}

/* Styles intended only for the front.*/
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}

/* Variables */
:root {
  --action-main: rgba(14, 13, 15, 0.64);
  --divider-main: rgba(14, 13, 15, 0.08);
  --secondary-48: rgba(250, 250, 250, 0.48);
  --white-contrast: #0a090a;
  --background-80: rgba(250, 250, 250, 0.8);
  --shadow-24: rgba(14, 13, 15, 0.08);
}

.dark-mode-playstore {
  --wp--preset--color--background-default: rgba(14, 13, 15, 1);
  --wp--preset--color--background-0: rgba(14, 13, 15, 0);
  --wp--preset--color--text-secondary: rgba(255, 255, 255, 0.7);
  --wp--preset--color--secondary-main: rgba(250, 250, 250, 1);
  --wp--preset--color--secondary-0: rgba(250, 250, 250, 0);
  --wp--preset--color--secondary-mask: rgba(13, 11, 15, 1);
  --wp--preset--color--text-primary: rgba(255, 255, 255, 1);
  --wp--preset--color--divider-input: rgba(255, 255, 255, 0.24);
  --wp--preset--color--svg-main: rgba(255, 255, 255, 0.64);
  --wp--preset--color--background-80: rgba(14, 13, 15, 0.8);
  --action-main: rgba(255, 255, 255, 0.64);
  --divider-main: rgba(255, 255, 255, 0.12);
  --text-primary: #ffffff;
  --secondary-48: rgba(14, 13, 15, 0.6);
  --white-contrast: #ffffff;
  --wp--preset--color--base: #0e0d0f;
  --wp--preset--color--contrast: #ffffff;
  --shadow-24: rgba(0, 0, 0, 0.64);
}

body {
  font-family: Urbanist;
  font-style: normal;
}
.main-gradient {
  background: var(--wp--preset--gradient--main-gradient);
}
.section-mask {
  background: var(--wp--preset--gradient--section-mask);
}
.background-mask {
  background: var(--wp--preset--gradient--background-mask);
}
.repeater-mask {
  background: var(--wp--preset--gradient--repeater-mask);
}
.shadow-button {
  box-shadow: 0px 16px 24px 0px var(--wp--preset--color--blue-48);
}
.accent-gradient {
  background: var(
    --wp--preset--gradient--main-gradient,
    linear-gradient(
      90deg,
      var(--wp--preset--color--blue-main, #3dafe2) 0%,
      var(--wp--preset--color--purple-main, #6f76c0) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.playstore-section {
  padding-top: clamp(3.75rem, calc(2.77rem + 4.92vw), 7.5rem);
  padding-bottom: clamp(3.75rem, calc(2.77rem + 4.92vw), 7.5rem);
}
